menu "Audio"

config CONTROLLER_AUDIO_APU
	bool "NES APU"
	default y
	help
		Enable NES audio processing unit

config CONTROLLER_AUDIO_PAPU
	bool "GB PAPU"
	default y
	help
		Enable Game Boy PAPU sound chip

config CONTROLLER_AUDIO_SN76489
	bool "SN76489"
	default y
	help
		Enable SN76489 sound chip

config CONTROLLER_AUDIO_SPU
	bool "PSX SPU"
	default y
	help
		Enable PSX sound processing unit

endmenu

