menu "Machine selection"

config MACH
	bool
	default n

config MACH_CHIP8
	bool "chip8 (CHIP-8)"
	select MACH
	select CPU_CHIP8
	default y
	help
		Enable CHIP-8 support

config MACH_GB
	bool "gb (Nintendo Game Boy)"
	select MACH
	select CPU_LR35902
	default y
	help
		Enable GB (Nintendo Game Boy) support

config MACH_NES
	bool "nes (Nintendo Entertainment System)"
	select MACH
	select CPU_RP2A03
	select CONTROLLER_DMA_NES
	select CONTROLLER_INPUT_NES
	select CONTROLLER_MAPPER_NES
	select CONTROLLER_VIDEO_PPU
	default y
	help
		Enable NES (Nintendo Entertainment System) support

endmenu

