menu "Machine selection"

config MACH
	bool
	default n

config MACH_CHIP8
	bool "chip8 (CHIP-8)"
	select MACH
	select CPU_CHIP8
	default y
	help
		Enable CHIP-8 support

config MACH_GB
	bool "gb (Nintendo Game Boy)"
	select MACH
	select CPU_LR35902
	select CONTROLLER_AUDIO_PAPU
	select CONTROLLER_INPUT_GB
	select CONTROLLER_MAPPER_GB
	select CONFIG_CONTROLLER_MAPPER_MBC1
	select CONFIG_CONTROLLER_MAPPER_ROM
	select CONTROLLER_SERIAL_GB
	select CONTROLLER_TIMER_GB
	select CONTROLLER_VIDEO_LCDC
	default y
	help
		Enable GB (Nintendo Game Boy) support

config MACH_NES
	bool "nes (Nintendo Entertainment System)"
	select MACH
	select CPU_RP2A03
	select CONTROLLER_AUDIO_APU
	select CONTROLLER_DMA_NES
	select CONTROLLER_INPUT_NES
	select CONFIG_CONTROLLER_MAPPER_MMC1
	select CONFIG_CONTROLLER_MAPPER_MMC3
	select CONTROLLER_MAPPER_NES
	select CONFIG_CONTROLLER_MAPPER_NROM
	select CONTROLLER_VIDEO_PPU
	default y
	help
		Enable NES (Nintendo Entertainment System) support

config MACH_PSX
	bool "psx (Sony PlayStation)"
	select MACH
	select CPU_R3051
	select CONTROLLER_AUDIO_SPU
	select CONTROLLER_CDROM_PSX
	select CONTROLLER_DMA_PSX
	select CONTROLLER_INPUT_PSX
	select CONTROLLER_MEDIA_MDEC
	select CONTROLLER_TIMER_PSX
	select CONTROLLER_VIDEO_GPU
	default y
	help
		Enable PSX (Sony PlayStation) support

config MACH_SMS
	bool "sms (Sega Master System)"
	select MACH
	select CPU_Z80
	select CONTROLLER_AUDIO_SN76489
	select CONTROLLER_INPUT_SMS
	select CONTROLLER_MAPPER_SMS
	select CONTROLLER_MAPPER_SEGA
	select CONTROLLER_VIDEO_VDP
	default y
	help
		Enable SMS (Sega Master System) support

endmenu

