menu "DMA"

config CONTROLLER_DMA_NES
	bool "NES Sprite DMA controller"
	default y
	help
		Enable NES sprite DMA operations

config CONTROLLER_DMA_PSX
	bool "PSX DMA controller"
	default y
	help
		Enable PSX DMA controller

endmenu

