mainmenu "Emux Configuration"

config EMUX_SRC_DIR
	string
	option env="EMUX_SRC_DIR"

source "$EMUX_SRC_DIR/mach/Kconfig"
source "$EMUX_SRC_DIR/frontends/Kconfig"
source "$EMUX_SRC_DIR/controllers/Kconfig"
source "$EMUX_SRC_DIR/cpu/Kconfig"

