CONFIG_MACH=y
CONFIG_MACH_CHIP8=y
CONFIG_MACH_GB=y
CONFIG_MACH_NES=y
CONFIG_MACH_SMS=y
CONFIG_AUDIO_SDL=y
CONFIG_INPUT_SDL=y
CONFIG_VIDEO_SDL=y
CONFIG_CONTROLLER_AUDIO_PAPU=y
CONFIG_CONTROLLER_DMA_NES=y
CONFIG_CONTROLLER_INPUT_GB=y
CONFIG_CONTROLLER_INPUT_NES=y
CONFIG_CONTROLLER_MAPPER_GB=y
CONFIG_CONTROLLER_MAPPER_MBC1=y
CONFIG_CONTROLLER_MAPPER_ROM=y
CONFIG_CONTROLLER_MAPPER_NES=y
CONFIG_CONTROLLER_MAPPER_NROM=y
CONFIG_CONTROLLER_MAPPER_SMS=y
CONFIG_CONTROLLER_SERIAL_GB=y
CONFIG_CONTROLLER_TIMER_GB=y
CONFIG_CONTROLLER_VIDEO_LCDC=y
CONFIG_CONTROLLER_VIDEO_PPU=y
CONFIG_CONTROLLER_VIDEO_VDP=y
CONFIG_CPU_CHIP8=y
CONFIG_CPU_LR35902=y
CONFIG_CPU_RP2A03=y
CONFIG_CPU_Z80=y
