CONFIG_MACH=y
CONFIG_MACH_GB=y
CONFIG_AUDIO_SDL=y
CONFIG_INPUT_SDL=y
CONFIG_VIDEO_SDL=y
CONFIG_CONTROLLER_AUDIO_PAPU=y
CONFIG_CONTROLLER_INPUT_GB=y
CONFIG_CONTROLLER_MAPPER_GB=y
CONFIG_CONTROLLER_MAPPER_MBC1=y
CONFIG_CONTROLLER_MAPPER_MBC2=y
CONFIG_CONTROLLER_MAPPER_ROM=y
CONFIG_CONTROLLER_SERIAL_GB=y
CONFIG_CONTROLLER_TIMER_GB=y
CONFIG_CONTROLLER_VIDEO_LCDC=y
CONFIG_CPU_LR35902=y
