CONFIG_MACH=y
CONFIG_MACH_NES=y
CONFIG_AUDIO_SDL=y
CONFIG_INPUT_SDL=y
CONFIG_VIDEO_SDL=y
CONFIG_CONTROLLER_AUDIO_APU=y
CONFIG_CONTROLLER_DMA_NES=y
CONFIG_CONTROLLER_INPUT_NES=y
CONFIG_CONTROLLER_MAPPER_MMC3=y
CONFIG_CONTROLLER_MAPPER_NES=y
CONFIG_CONTROLLER_MAPPER_NROM=y
CONFIG_CONTROLLER_VIDEO_PPU=y
CONFIG_CPU_RP2A03=y
