CONFIG_MACH=y
CONFIG_MACH_PSX=y
CONFIG_AUDIO_SDL=y
CONFIG_CDROM_CDIO=y
CONFIG_INPUT_SDL=y
CONFIG_VIDEO_SDL=y
CONFIG_CONTROLLER_AUDIO_SPU=y
CONFIG_CONTROLLER_CDROM_PSX=y
CONFIG_CONTROLLER_DMA_PSX=y
CONFIG_CONTROLLER_INPUT_PSX=y
CONFIG_CONTROLLER_MEDIA_MDEC=y
CONFIG_CONTROLLER_TIMER_PSX=y
CONFIG_CONTROLLER_VIDEO_GPU=y
CONFIG_CPU_R3051=y
