CONFIG_MACH=y
CONFIG_MACH_SMS=y
CONFIG_AUDIO_SDL=y
CONFIG_INPUT_SDL=y
CONFIG_VIDEO_SDL=y
CONFIG_CONTROLLER_AUDIO_SN76489=y
CONFIG_CONTROLLER_INPUT_SMS=y
CONFIG_CONTROLLER_MAPPER_SMS=y
CONFIG_CONTROLLER_MAPPER_SEGA=y
CONFIG_CONTROLLER_VIDEO_VDP=y
CONFIG_CPU_Z80=y
