menu "Mappers"

config CONTROLLER_MAPPER_GB
	bool "GB"
	default y
	help
		Enable GB mapper

config CONTROLLER_MAPPER_NES
	bool "NES"
	default y
	help
		Enable NES mapper

config CONTROLLER_MAPPER_NROM
	bool "NROM"
	default y
	help
		Enable NES NROM - No Mapper (or unknown mapper)

endmenu

