menu "Mappers"

config CONTROLLER_MAPPER_GB
	bool "GB"
	default y
	help
		Enable GB mapper

config CONTROLLER_MAPPER_MBC1
	bool "MBC1"
	depends on CONTROLLER_MAPPER_GB
	default y
	help
		Enable GB MBC1 cartridge type

config CONTROLLER_MAPPER_ROM
	bool "ROM"
	depends on CONTROLLER_MAPPER_GB
	default y
	help
		Enable GB ROM ONLY cartridge type

config CONTROLLER_MAPPER_NES
	bool "NES"
	default y
	help
		Enable NES mapper

config CONTROLLER_MAPPER_MMC1
	bool "MMC1"
	depends on CONTROLLER_MAPPER_NES
	default y
	help
		Enable NES MMC1 mapper

config CONTROLLER_MAPPER_MMC3
	bool "MMC3"
	depends on CONTROLLER_MAPPER_NES
	default y
	help
		Enable NES MMC3 mapper

config CONTROLLER_MAPPER_NROM
	bool "NROM"
	depends on CONTROLLER_MAPPER_NES
	default y
	help
		Enable NES NROM - No Mapper (or unknown mapper)

config CONTROLLER_MAPPER_SMS
	bool "SMS"
	default y
	help
		Enable SMS mapper

config CONTROLLER_MAPPER_SEGA
	bool "SMS"
	depends on CONTROLLER_MAPPER_SMS
	default y
	help
		Enable SEGA mapper

endmenu

