menu "CPU selection"

config CPU_CHIP8
	bool "CHIP8"
	default y
	help
		Enable CHIP-8 CPU

config CPU_LR35902
	bool "LR35902"
	default y
	help
		Enable LR35902 CPU

config CPU_R3051
	bool "R3051"
	default y
	help
		Enable R3051 CPU

config CPU_RP2A03
	bool "RP2A03"
	default y
	help
		Enable RP2A03 CPU

config CPU_Z80
	bool "Z80"
	default y
	help
		Enable Z80 CPU

endmenu

