menu "Input frontend configuration"

config INPUT_CACA
	bool "caca"
	default n
	help
		Enable libcaca input frontend

config INPUT_SDL
	bool "sdl"
	default y
	help
		Enable SDL (Simple DirectMedia Layer) input frontend

config INPUT_XML
	bool "XML input configuration"
	default n
	help
		Add support for XML input configuration

endmenu

