menu "Input"

config CONTROLLER_INPUT_GB
	bool "GB joypad"
	default y
	help
		Enable GB joypad

config CONTROLLER_INPUT_NES
	bool "NES standard controller"
	default y
	help
		Enable NES standard controller for players 1 and 2

config CONTROLLER_INPUT_SMS
	bool "SMS controller"
	default y
	help
		Enable SMS peripheral support

endmenu

