menu "Video frontend selection"

config VIDEO_CACA
	bool "caca"
	default n
	help
		Enable libcaca video frontend

config VIDEO_OPENGL
	bool "opengl"
	default n
	help
		Enable OpenGL video frontend (through SDL)

config VIDEO_SDL
	bool "sdl"
	default y
	help
		Enable SDL (Simple DirectMedia Layer) software video frontend

endmenu

