menu "Video"

config CONTROLLER_VIDEO_LCDC
	bool "GB LCDC"
	default y
	help
		Enable Game Boy LCD controller

config CONTROLLER_VIDEO_PPU
	bool "NES PPU"
	default y
	help
		Enable NES PPU (Picture Processing Unit)

config CONTROLLER_VIDEO_VDP
	bool "SMS VDP"
	default y
	help
		Enable SMS VDP (Video Display Processor)

endmenu

